<div id="eventPresenceDiv">
  <div class="panel panel-default">
    <div class="panel-body" style="overflow-x:auto;">
      <table cellspacing=0 cellpadding=0 style="width: 100%;">
        <tr>
          <td>
            <span l10n-id="stories-show-characters"></span><br>
            <select multiple id="eventPresenceSelector"></select>
          </td>
          <td>
            <table  cellspacing=0 cellpadding=0 class="table table-bordered">
              <thead id="eventPresenceTableHead"></thead>
              <tbody id="eventPresenceTable"></tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>