<div class="stories-tab block">
  <div class="panel panel-default">
    <div class="panel-body first-panel">
      <div class="flex-root entity-toolbar">
        <button class="btn btn-default btn-reduced fa-icon create story flex-0-0-auto" 
          l10n-title="stories-create-entity"></button>
        <select id="storySelector" class="common-select"></select>
        <button class="btn btn-default btn-reduced fa-icon rename story flex-0-0-auto"
          l10n-title="stories-rename-entity"></button>
        <button class="btn btn-default btn-reduced fa-icon remove story flex-0-0-auto"
          l10n-title="stories-remove-entity"></button>
      </div>
    </div>
  </div>

  <div>
    <div class="stories-navigation-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
    <div class="stories-content-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
  </div>
</div>