<div class="story-characters-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <button class="btn btn-default btn-reduced fa-icon add character flex-0-0-auto" 
          l10n-title="stories-add-character"></button>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered character-inventory-area">
        <thead>
          <tr>
            <th l10n-id="stories-name"></th>
            <th l10n-id="stories-inventory"></th>
            <th l10n-id="constant-active"></th>
            <th l10n-id="constant-follower"></th>
            <th l10n-id="constant-defensive"></th>
            <th l10n-id="constant-passive"></th>
          </tr>
        </thead>
        <tbody class="storyCharactersTable"></tbody>
      </table>
    </div>
  </div>
  
  <template class="story-character-row-tmpl">
    <td class="character-name"></td>
    <td><input class="inventoryInput isStoryEditable form-control"></td>
    <td class="vertical-aligned-td active"><input
      class="isStoryEditable hidden" type="checkbox"><label
      class="checkbox-label activity-icon-active fa-icon"></label></td>
    <td class="vertical-aligned-td follower"><input
      class="isStoryEditable hidden" type="checkbox"><label
      class="checkbox-label activity-icon-follower fa-icon"></label></td>
    <td class="vertical-aligned-td defensive"><input
      class="isStoryEditable hidden" type="checkbox"><label
      class="checkbox-label activity-icon-defensive fa-icon"></label></td>
    <td class="vertical-aligned-td passive"><input
      class="isStoryEditable hidden" type="checkbox"><label
      class="checkbox-label activity-icon-passive fa-icon"></label></td>
    <td>
      <button
        class="btn btn-default btn-reduced fa-icon replace character flex-0-0-auto"
        l10n-title="stories-replace-character"></button>
      <button
        class="btn btn-default btn-reduced fa-icon remove character flex-0-0-auto"
        l10n-title="stories-remove-character"></button>
    </td>
  </template>
</div>