<div id="storiesDiv">
  <div style="display: flex;justify-content:space-around;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler="#storiesDiv div.first-panel">
          <h3 class="panel-title" l10n-id="stories-stories"></h3>
        </a>
      </div>
      <div class="panel-body first-panel">
        <select id="storySelector"></select>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler="#storiesDiv div.second-panel">
          <h3 class="panel-title" l10n-id="stories-story-management"></h3>
        </a>
      </div>
      <div class="panel-body second-panel">
        <div class="entity-management">
          <div>
            <input class="create-entity-input" l10n-placeholder-id="stories-story-name"></input>
            <button class="create-entity-button" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector"></select> <span l10n-id="common-to"></span>
            <input class="rename-entity-input" l10n-placeholder-id="stories-new-story-name"></input>
            <button class="rename-entity-button" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector"></select>
            <button class="remove-entity-button" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="stories-navigation-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
    <div class="stories-content-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
  </div>

</div>