<div class="story-events-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead id="eventBlockHead"></thead>
        <tbody id="eventBlock"></tbody>
      </table>
    </div>
  </div>
  
  <template class="event-tmpl">
    <td><span class="event-number"></span></td>
    <td><div class="story-events-div-main">
        <div class="story-events-div-left">
          <input class="isStoryEditable  form-control event-name-input ">
        </div>
        <div class="story-events-div-right">
          <input class="isStoryEditable  form-control event-time ">
        </div>
      </div>
      <textarea class="isStoryEditable  form-control event-text "></textarea></td>
    <td>
      <div class="flex-column">
        <button class="btn btn-default btn-reduced fa-icon move event flex-0-0-auto"
            l10n-title="stories-move-event"></button>
        <button class="btn btn-default btn-reduced fa-icon clone event flex-0-0-auto"
            l10n-title="stories-clone-event"></button>
        <button class="btn btn-default btn-reduced fa-icon merge event flex-0-0-auto"
            l10n-title="stories-merge-events"></button>
        <button class="btn btn-default btn-reduced fa-icon remove event flex-0-0-auto"
            l10n-title="stories-remove-event"></button>
      </div>
    </td>
  </template>
</div>