<div class="stories-tab block">
  <div class="panel panel-default">
    <div class="panel-body first-panel">
      <div class="flex-root entity-toolbar">
        <button class="btn btn-default btn-reduced fa-icon create story flex-0-0-auto" 
          l10n-title="stories-create-entity"></button>
        <select id="storySelector" class="common-select"></select>
        <button class="btn btn-default btn-reduced fa-icon rename story flex-0-0-auto"
          l10n-title="stories-rename-entity"></button>
        <button class="btn btn-default btn-reduced fa-icon remove story flex-0-0-auto"
          l10n-title="stories-remove-entity"></button>
      </div>
    </div>
  </div>

  <div>
    <div class="stories-navigation-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
    <div class="stories-content-container">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>
  </div>
  
  <template class="modal-prompt-body">
    <div class="form-group">
      <label class="control-label"></label>
      <input class="entity-input form-control"></input>
    </div>
  </template>
  
  <template class="modal-error-block">
    <div class="form-group has-error">
      <span class="help-block error-msg"></span>
    </div>
  </template>
  
  <template class="request-data-dialog-tmpl">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" l10n-id="common-cancel"></button>
            <button type="button" class="btn btn-primary on-action-button"></button>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>