.sliders-tab .mixer-panel .panel-body{
  display: flex;
  flex-wrap: wrap;
}

.sliders-tab .slider-container{
  flex-grow: 0;
  flex-basis: 16.66666667%;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10px;
}

.sliders-tab .slider-container > div.slider-body {
  margin: 10px 0;
}

.sliders-tab .slider-container > div.slider-sublabel {
  height: 3em;
  font-size: 110%;
}

.sliders-tab .slider-container > div.slider-header{
  text-transform: uppercase;
  font-size: 110%;
  height: 4em;
}