<div id="briefingExportDiv">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler="#briefingExportDiv div.export-panel-body">
        <h3 class="panel-title" l10n-id="briefings-export-settings"></h3>
      </a>
    </div>
    <div class="panel-body export-panel-body" style="display:flex;justify-content:space-around;">
      
      <fieldset>
        <legend l10n-id="briefings-export-mode"></legend>
        <div>
          <input type="checkbox" id="toSeparateFileCheckbox"/> 
          <label for="toSeparateFileCheckbox" l10n-id="briefings-each-briefing-to-own-file"></label>
        </div>
        <div>
          <input type="checkbox" id="exportOnlyFinishedStories"/> 
          <label for="exportOnlyFinishedStories" l10n-id="briefings-export-only-finished-stories"></label>
        </div>
      </fieldset>
    
      <fieldset>
        <legend l10n-id="briefings-briefing-selection"></legend>
        <div>
          <input type="radio" name="exportCharacterSelection" id="exportAllCharacters"/>
          <label for="exportAllCharacters" l10n-id="briefings-print-all"></label> <br> 
        </div>
        <div>
          <input type="radio" name="exportCharacterSelection" id="exportCharacterRange"/>
          <label for="exportCharacterRange" l10n-id="briefings-print-partly"></label> <br> 
        </div>
        <div>
          <input type="radio" name="exportCharacterSelection" id="exportCharacterSet"/>
          <label for="exportCharacterSet" l10n-id="briefings-exact-multiselect"></label> <br> 
        </div>
        
        <div id="characterRangeSelect" class="hidden">
          <span l10n-id="briefings-briefings-amount"></span> 
          <select id="briefingNumberSelector"></select><br>
          <span l10n-id="briefings-briefings-range"></span>
          <select id="briefingIntervalSelector"></select>
        </div>
        
        <div id="characterSetSelect" class="hidden">
          <input selector-filter="#characterSetSelector"><br>
          <select id="characterSetSelector" multiple size=15 ></select>
        </div>
      </fieldset>
      
      <fieldset>
        <legend l10n-id="briefings-story-selection"></legend>
        <div>
          <input type="radio" name="exportStorySelection" value="all" id="exportAllStories"/>
          <label for="exportAllStories" l10n-id="briefings-export-all-stories"></label> <br> 
        </div>
        <div>
          <input type="radio" name="exportStorySelection" value="multiple" id="exportStorySet"/>
          <label for="exportStorySet" l10n-id="briefings-exact-multiselect"></label> <br> 
        </div>
        
        <div id="storySetSelect" class="hidden">
          <input selector-filter="#storySetSelector"><br>
          <select id="storySetSelector" multiple size=15 ></select>
        </div>
      </fieldset>
    </div>
  </div>
      
  <div style="display:flex;margin-right:8px;">
    <button class="navigation-button exportModeButton" id="simpleExport" l10n-id="briefings-simple-export"></button>
    <button class="navigation-button exportModeButton" id="advancedWordExport" l10n-id="briefings-advanced-docx-export"></button>
    <button class="navigation-button exportModeButton" id="advancedTextExport" l10n-id="briefings-advanced-txt-export"></button>
  </div>
      
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="simpleExportContainer" class="exportContainer">
        <button id="makeBriefingsByTime" l10n-id="briefings-make-docx-by-time"></button><br>
        <button id="makeBriefingsByStory" l10n-id="briefings-make-docx-by-stories"></button><br>
        <button id="makeDefaultTextBriefings" l10n-id="briefings-make-txt"></button><br><br>
        
        <button id="makeInventoryList" l10n-id="briefings-make-inventory"></button><br>
      </div>
      
      <div id="advancedWordExportContainer" class="exportContainer">
        <span l10n-id="briefings-upload-template"></span> <input type="file" name="file" id="docxBriefings"> 
        <button id="makeDocxBriefings" l10n-id="briefings-make-export"></button>
      </div>
      
      <div id="advancedTextExportContainer" class="exportContainer">
        <div >
          <h3 l10n-id="briefings-template"></h3>
          <textarea id="templateArea"></textarea><br>
          <label l10n-id="briefings-enter-text-file-type"></label>
          <input id="textTypeSelector" value="txt"/>
          <button id="previewTextOutput" l10n-id="briefings-preview"></button><br>
          <button id="showRawData" class="hidden" l10n-id="briefings-raw-data"></button>
          <button id="convertToDocxTemplate" l10n-id="briefings-convert-to-docx-template"></button>
          <button id="generateByDocxTemplate" l10n-id="briefings-generate-by-docx-template"></button>
          <button id="makeCustomTextBriefings" l10n-id="briefings-export"></button>
          <button id="makeMarkdownBriefings" l10n-id="briefings-markdown-export"></button>
        </div>
        <div >
          <h3 l10n-id="briefings-exported-text"></h3>
          <textarea id="textBriefingPreviewArea"></textarea>
        </div>
      </div>
          
      <h3 l10n-id="briefings-export-status"></h3>
      <div id="exportStatus"></div>
    </div>
  </div>
</div>