<div class="profile-binding2-tab block fixed-tab">
  <div class="panel panel-default height-100p">
    <div class="panel-body height-100p">
      <label l10n-id="binding-binding-tip"></label>
      <div class="container-fluid height-100p">
        <div class="row height-100p">
          <div class="col-xs-4 height-100p">
            <h4 l10n-id="binding-characters"></h4>
            <input class="form-control character-filter" type="search" l10n-placeholder-id="binding-character-search">
            <div class="alert no-character alert-info" l10n-id="advices-no-character"></div>
            <div class="entity-list character-list">
            </div>
          </div>
          <div class="col-xs-4 height-100p">
            <h4 l10n-id="binding-players"></h4>
            <input class="form-control player-filter" type="search" l10n-placeholder-id="binding-player-search">
            <div class="alert no-player alert-info" l10n-id="advices-no-player"></div>
            <div class="entity-list player-list">
            </div>
          </div>
          <div class="col-xs-4 height-100p">
            <h4 l10n-id="binding-binded-characters-n-players"></h4>
            <input class="form-control binding-filter" type="search" l10n-placeholder-id="binding-binding-search">
            <div class="entity-list binding-list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <template class="profile-item-tmpl">
    <div class="btn-group flex-root">
      <button draggable="true" type="button" class="select-button btn btn-default btn-reduced flex-1-1-auto text-align-left white-space-normal">
        <span class="primary-name"></span>
      </button>
    </div>
  </template>
  
  <template class="binding-item-tmpl">
    <div class="btn-group flex-root">
      <button type="button" class="select-button btn btn-default btn-reduced flex-1-1-auto text-align-left white-space-normal">
        <span class="primary-name"></span>
      </button>
      <button class="btn btn-default btn-reduced fa-icon unlink flex-0-0-auto transparent"></button>
    </div>
  </template>
</div>
