<div class="profile-configurer2-tab-tmpl block fixed-tab">
  <div class="panel panel-default max-height-100p overflow-auto">
    <div class="panel-heading">
      <a href="#">
        <h3 class="panel-title" l10n-id="profiles-characters-profile-structure"></h3>
      </a>
    </div>
    <div class="panel-body profile-panel">
      <div class="entity-management">
        <div>
          <button class="btn btn-default btn-reduced fa-icon create adminOnly" l10n-title="profiles-create-profile-item"></button>
        </div>
<!--         <div> -->
<!--           <input class="adminOnly create-entity-input" l10n-placeholder-id="profiles-profile-item-name"></input>  -->
<!--           <span l10n-id="profiles-profile-item-position"></span> -->
<!--           <select class="adminOnly create-entity-position-select"></select> -->
<!--           <span l10n-id="profiles-profile-item-type"></span> -->
<!--           <select class="adminOnly create-entity-type-select"></select>  -->
<!--           <button class="adminOnly create-entity-button" l10n-id="common-create"></button> -->
<!--         </div> -->
<!--         <div> -->
<!--           <select class="adminOnly move-entity-select"></select>  -->
<!--           <span l10n-id="profiles-profile-item-position"></span> -->
<!--           <select class="adminOnly move-entity-position-select"></select> -->
<!--           <button class="adminOnly move-entity-button" l10n-id="profiles-move-item"></button> -->
<!--         </div> -->
<!--         <div> -->
<!--           <select class="adminOnly remove-entity-select"></select> -->
<!--           <button class="adminOnly remove-entity-button" l10n-id="common-remove"></button> -->
<!--         </div> -->
      </div>
      <table class="table table-bordered" style="width: auto;">
      <thead>
        <tr>
          <th>№</th>
          <th l10n-id="profiles-table-profile-item-name"></th>
          <th l10n-id="profiles-profile-item-type"></th>
          <th l10n-id="profiles-profile-item-default-value"></th>
          <th l10n-id="profiles-profile-item-player-access"></th>
<!--           <th l10n-id="profiles-profile-item-do-export"></th> -->
          <th l10n-id="profiles-show-in-role-grid" class="hidden"></th>
        </tr>
      </thead>
      <tbody class="profile-config-container"></tbody>
      </table>
    </div>
  </div>
  
  <template class="profile-configurer-row-tmpl">
    <tr>
      <td><span class="item-position adminOnly"></span></td>
      <td><span class="item-name adminOnly"></span></td>
      <td><select class="item-type adminOnly form-control"></select></td>
      <td class="item-default-value-container"></td>
      <td><select class="player-access adminOnly form-control"></select></td>
      <td>
<!--         <input type="checkbox" class="print-in-handout adminOnly form-control"> -->
        <button class="btn btn-default btn-reduced fa-icon print flex-0-0-auto" l10n-title="profiles-profile-item-do-export"></button>
      </td>
      <td class="hidden"><input type="checkbox" class="show-in-role-grid adminOnly form-control"></td>
      <td>
        <button class="btn btn-default btn-reduced fa-icon move flex-0-0-auto adminOnly" l10n-title="profiles-move-profile-item"></button>
        <button class="btn btn-default btn-reduced fa-icon rename flex-0-0-auto adminOnly" l10n-title="profiles-rename-profile-item"></button>
        <button class="btn btn-default btn-reduced fa-icon remove flex-0-0-auto adminOnly" l10n-title="profiles-remove-profile-item"></button>
      </td>
    </tr>
  </template>
</div>