/** full screen experiments */ 
.full-screen{
/*  position: absolute; */
/*  top:0; */
/*  left:0; */
/*  width: 100vw !important; */
/*   height: 100vh !important; */
}

.fullScreenButton{
/*  position: relative; */
/*  top:20px; */
/*   left:20px; */
}
/* full screen experiments **/ 

/** East express colouring */
input:hover,
textarea:hover,
button:hover,
.navigation-button:hover,
.action-button:hover,
select:hover
 {
/*  background-color: red !important; */
/*  border: 3px solid green !important; */
/*  color: white !important; */
/*  font-size:20px !important; */
/*  font-weight: bold !important; */
}

.panel, .panel-body {
/*   background-color: greenyellow !important; */
}
/* East express colouring **/


/** auroresizable textareas */
/* textarea[autoresize] { */
textarea.autoresizable {
  display: block;
  overflow: hidden;
  resize: none;
}
/* auroresizable textareas **/