body{
  background-color: #ededed;
}

.block {
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}

.block table td{
	vertical-align: top;
}

#masterStoryArea{
	width: 280px;
	height: 250px;
}

.eventText {
	width: 250px;
	height: 50px;
}