body{
  background-color: #ededed;
}

.block {
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}

.block table td{
	vertical-align: top;
}

#masterStoryArea{
	width: 280px;
	height: 250px;
}

.eventText {
	width: 250px;
	height: 50px;
}

#dataLoadButton, #dataSaveButton{
	float:right;
}

.hidden{
	display: none;
}

#bioEditor{
	height: 24em;
    width: 20em;
}

#eventPresenceTable th{
	padding: 5px;
}

#eventPresenceTable tr:nth-child(odd),
#eventPresenceTable tr td:nth-child(odd){ 
    background-color: rgba(255,255,255,0.5);
}
 
#eventPresenceTable tr:nth-child(even),
#eventPresenceTable tr td:nth-child(even){ 
	background-color: rgba(222,226,228,0.5);
}

.eventOriginalStory {
	width: 300px;
}
.eventPersonalStory {
	width: 300px;
	height: 100px;
}

.bioInput{
  width: 300px;
  height: 100px;
}
.inventoryInput{
  width: 300px;
}

.defaultDate{
	background-color: rgba(255,0,0,0.1);
}

#timelineContainer{
	background-color: #fff;
}


#timelineFlexRoot{
	display: flex;
}
#storySelectorContainer{
	flex-basis: 150px;
	flex-grow: 0;
}
#storySelectorContainer > select{
	width:90%;
}

#timelineContainer{
	flex-grow: 1;
}

.importantItem .vis-item-content  {
  color: white;
  background-color: red;
  border-color: darkred;
}
#gameNameInput{
	width: 450px;
}

#gameDescription{
	width: 450px;
	height: 500px;
}

/* social network */
#socialNetworkContainer {
	width: 800px;
	height: 800px;
	border: 1px solid lightgray;
}