<div id="aboutDiv">
  <div class="panel panel-default">
    <div class="panel-body">
      <div l10n-id="about-about-authors"></div>
      <div l10n-id="about-program-purpose"></div>
      <div>
        <span l10n-id="about-site-mention"></span> <a href="http://trechkalov.com">trechkalov.com</a>
      </div>
      <div l10n-id="about-site-description"></div>
      
      <div>
        <span l10n-id="about-program-is-free-in-rep"></span> <a
          href="https://github.com/NtsDK/smtk-nims" l10n-id="about-by-link"
        ></a>
      </div>
      <div>
        <span l10n-id="about-builds-published-in-rep"></span> <a
          href="https://github.com/NtsDK/measurelook" l10n-id="about-by-link"
        ></a>
      </div>
      
      <div l10n-id="about-icons-authors"></div>
      <div l10n-id="about-versions"></div>
      <ul>
        <li l10n-id="about-var030"></li>
        <li l10n-id="about-var021"></li>
        <li l10n-id="about-var020"></li>
        <li l10n-id="about-var010"></li>
      </ul>
    </div>
  </div>
</div>
