<!-- <div id="aboutDiv"> -->
<!--   <div class="panel panel-default"> -->
<!--     <div class="panel-body"> -->
<!--       <div l10n-id="about-about-authors"></div> -->
<!--       <br> <span l10n-id="about-site-mention"></span><a href="http://trechkalov.com">trechkalov.com</a> <span -->
<!--         l10n-id="about-site-description" -->
<!--       ></span><br> -->
<!--       <br> <span l10n-id="about-program-is-free-in-rep"></span> <a -->
<!--         href="https://bitbucket.org/NtsDK/story-master-toolkit-smtk-nims" l10n-id="about-by-link" -->
<!--       ></a><br> -->
<!--       <br> -->
<!--       <div l10n-id="about-icons-authors"></div> -->
<!--       <br> -->
<!--       <div l10n-id="about-versions"></div> -->
<!--       <ul> -->
<!--         <li l10n-id="about-var010"></li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<div id="aboutDiv">
  <div class="panel panel-default">
    <div class="panel-body">
      Программа "Measurelook" разработана Речкаловым Тимофеем по личной инициативе. <br><br>
      Программа "Measurelook" предназначена для визуалиции результатов вычислительных экспериментов для файлов фиксированного формата.
      Для получения большей информации см. репозиторий проекта.<br><br>
      Сайт автора: <a href="http://trechkalov.com">trechkalov.com</a><br><br>
      Программа бесплатна. Исходный код доступен в <a href="https://github.com/NtsDK/measurelook">репозитории</a> под лицензией Apache 2.<br><br>
      Авторы используемых иконок с сайта www.flaticon.com: Anton Saputro, Pavel Kozlov, Budi Tanrim,
      Catalin Fertu, Picol и Freepik. Автор иконки сортировки FatCow.<br><br>
      <div>История версий</div>
      <ul>
        <li>Версия 0.2.1 (7 May 2017) - мелкие улучшения.</li>
        <li>Версия 0.2.0 (2 Apr 2017) - улучшение формата хранения эксперимента и графики по медоидам.</li>
        <li>Версия 0.1.0 (20 Feb 2017) - первый закрытый релиз.</li>
      </ul>
    </div>
  </div>
</div>
