<div class="api-check-tab">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".api-check-tab div.shop-check-area">
        <h3 class="panel-title" l10n-id="api-check-shops"></h3>
      </a>
    </div>
    <div class="panel-body shop-check-area">
      <div>
        <button class="shop-check-button btn btn-default" l10n-id="api-check-check-all"></button>
      </div>
      <table class="table table-striped">
        <tbody class="container"></tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".api-check-tab div.implant-check-area">
        <h3 class="panel-title" l10n-id="api-check-implants"></h3>
      </a>
    </div>
    <div class="panel-body implant-check-area">
      <div>
        <button class="implant-check-button btn btn-default" l10n-id="api-check-check-all"></button>
      </div>
      <table class="table table-striped">
        <tbody class="container"></tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".api-check-tab div.pills-check-area">
        <h3 class="panel-title" l10n-id="api-check-pills"></h3>
      </a>
    </div>
    <div class="panel-body pills-check-area">
      <div>
        <button class="pills-check-button btn btn-default" l10n-id="api-check-check-all"></button>
      </div>
      <table class="table table-striped">
        <tbody class="container"></tbody>
      </table>
    </div>
  </div>
</div>