<div class="asset-presence-tab">
  <div class="panel panel-default">
    <div class="panel-body flexRoot" style="overflow-x:auto;">
      <div class="asset-select-container flex-0-0-auto">
        <span l10n-id="asset-show-assets"></span><br>
        <input selector-filter=".asset-presence-tab .show-asset-select" class="form-control">
        <select multiple class="show-asset-select form-control"></select><br>
        <button class="select-all-button btn btn-default" l10n-id="asset-select-all"></button><br>
        <button class="deselect-all-button btn btn-default" l10n-id="asset-deselect-all"></button>
      </div>
      <div class="shop-select-container flex-0-0-auto">
        <span l10n-id="asset-show-shops"></span><br>
        <input selector-filter=".asset-presence-tab .show-shop-select" class="form-control">
        <select multiple class="show-shop-select form-control"></select><br>
        <button class="select-all-button btn btn-default" l10n-id="asset-select-all"></button><br>
        <button class="deselect-all-button btn btn-default" l10n-id="asset-deselect-all"></button>
      </div>
      <div class="flex-1-1-auto">
        <table  cellspacing=0 cellpadding=0 class="table table-bordered">
          <thead class="asset-presence-table-head"></thead>
          <tbody class="asset-presence-table-body"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>