<div class="assets-tab">
  <div style="display: flex;justify-content:space-around;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".assets-tab .second-panel"> <h3 class="panel-title" l10n-id="asset-management"></h3></a>
      </div>
      <div class="panel-body second-panel">
        <div class="entity-management">
          <div>
            <input class="create-entity-input form-control display-inline" l10n-placeholder-id="asset-name"></input>
            <button class="create-entity-button btn btn-default btn-reduced" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector"></select> <span l10n-id="common-to"></span>
            <input class="rename-entity-input form-control display-inline" l10n-placeholder-id="asset-new-name"></input>
            <button class="rename-entity-button btn btn-default btn-reduced" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector"></select>
            <button class="remove-entity-button btn btn-default btn-reduced" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".assets-tab div.first-panel">
          <h3 class="panel-title" l10n-id="asset-import-assets"></h3>
        </a>
      </div>
      <div class="panel-body first-panel entity-management">
        <div>
          <button class="import-implants-button btn btn-default" l10n-id="asset-import-implants"></button>
        </div>
        <div>
          <button class="import-pills-button btn btn-default" l10n-id="asset-import-pills"></button>
        </div>
      </div>
    </div>
  </div>
    
  <div class="sub-tab-navigation"></div>
  <div class="sub-tab-content"></div>
</div>