<div class="category-content-management-tab">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".category-content-management-tab div.central-panel">
        <h3 class="panel-title" l10n-id="shop-category-content-management"></h3>
      </a>
    </div>
    <div class="panel-body central-panel category-content-management">
      <div class="flexRoot">
        <div class="entity-management">
          <div>
            <span l10n-id="shop-global-assets"></span>
          </div>
          <div>
            <select class="add-entity-select-11 select2-mono-selector"></select>
            <select class="add-entity-select-12 select2-mono-selector"></select>
            <button class="add-entity-button-1 btn btn-default btn-reduced" l10n-id="shop-add-to-category"></button>
          </div>
          <div>
            <select class="remove-entity-select-1 select2-mono-selector"></select>
            <button class="remove-entity-button-1 btn btn-default btn-reduced" l10n-id="shop-remove-from-category"></button>
          </div>
        </div>
        <div class="entity-management">
          <div>
            <span l10n-id="shop-local-assets"></span>
          </div>
          <div>
            <select class="add-entity-select-21 select2-mono-selector"></select>
            <select class="add-entity-select-22 select2-mono-selector"></select>
            <button class="add-entity-button-2 btn btn-default btn-reduced" l10n-id="shop-add-to-category"></button>
          </div>
          <div>
            <select class="remove-entity-select-2 select2-mono-selector"></select>
            <button class="remove-entity-button-2 btn btn-default btn-reduced" l10n-id="shop-remove-from-category"></button>
          </div>
        </div>
      </div>
      
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="first-row">
            <th><span l10n-id="shop-category"   ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-asset"      ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-displayName"></span><span class="icon"></span></th>
            <th><span l10n-id="shop-cost"       ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-type"       ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-resource"   ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-isPhysical" ></span><span class="icon"></span></th>
            <th><span l10n-id="shop-description"></span><span class="icon"></span></th>
          </tr>
          <tr>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control" size="10"></th>
            <th><input class="form-control"></th>
          </tr>
        </thead>
        <tbody class="table-content"></tbody>
      </table>
      
    </div>
  </div>
</div>