<div class="local-asset-profile-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <table>
        <tr>
          <th l10n-id="asset-assets"></th>
        </tr>
        <tr>
          <td><input selector-filter=".local-asset-profile-tab .entity-selector" class="form-control">
          <select size=20 class="entity-selector form-control"></select></td>
          <td>
            <div>
              <table class="table">
                <tbody class="entity-profile"></tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>