<div class="shop-management-tab">

  <div style="display: flex;justify-content:space-around;">
    <div class="panel panel-default flex-0-0-auto">
      <div class="panel-heading">
        <a href="#" panel-toggler=".shop-management-tab div.first-panel">
          <h3 class="panel-title" l10n-id="shop-categories"></h3>
        </a>
      </div>
      <div class="panel-body first-panel category-management">
        <div class="entity-management">
          <div>
            <input class="create-entity-input form-control display-inline" l10n-placeholder-id="shop-category-name"></input>
            <button class="create-entity-button btn btn-default btn-reduced" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector"></select> <span l10n-id="common-to"></span><br>
            <input class="rename-entity-input form-control display-inline" l10n-placeholder-id="shop-new-category-name"></input>
            <button class="rename-entity-button btn btn-default btn-reduced" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector"></select>
            <button class="remove-entity-button btn btn-default btn-reduced" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default flex-0-0-auto">
      <div class="panel-heading">
        <a href="#" panel-toggler=".shop-management-tab div.second-panel">
          <h3 class="panel-title" l10n-id="shop-local-assets"></h3>
        </a>
      </div>
      <div class="panel-body second-panel local-asset-management">
        <div class="entity-management">
          <div>
            <input class="create-entity-input form-control display-inline" l10n-placeholder-id="shop-local-asset-name"></input>
            <button class="create-entity-button btn btn-default btn-reduced" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector"></select> <span l10n-id="common-to"></span><br>
            <input class="rename-entity-input form-control display-inline" l10n-placeholder-id="shop-new-local-asset-name"></input>
            <button class="rename-entity-button btn btn-default btn-reduced" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector"></select>
            <button class="remove-entity-button btn btn-default btn-reduced" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default flex-0-0-auto">
      <div class="panel-heading">
        <a href="#" panel-toggler=".shop-management-tab div.third-panel">
          <h3 class="panel-title" l10n-id="shop-available-index"></h3>
        </a>
      </div>
      <div class="panel-body third-panel">
      </div>
    </div>
  </div>
  
  <div class="sub-tab-navigation"></div>
  <div class="sub-tab-content"></div>
</div>