<div class="shop-window-tab">
  <div class="flexRoot">
    <div class="category-select verticalFlexRoot flex-0-0-auto">
    </div>
    <div class="asset-select verticalFlexRoot flex-0-0-auto">
    </div>
    <div class="asset-view flex-1-1-auto">
      <div class="asset-info">
      </div>
      <div class="buy-controls">
        <div class="cost-data">
          <div>
            <span l10n-id="shop-initial-cost"></span>
            <label class="initial-cost-value"></label>
          </div>
          <div>
            <span l10n-id="shop-final-cost"></span>
            <input type="number" class="final-cost-input form-control display-inline">
          </div>
          <div>
            <span l10n-id="shop-amount"></span>
            <input type="number" class="amount-input form-control display-inline" min="1" max="10">
          </div>
        </div>
        <div class="activation-codes-container">
          <div class="flexRoot">
            <div l10n-id="shop-qr-code" class="flex-0-0-auto"></div>
            <div class="activation-codes flex-1-1-auto flexRoot flex-wrap"></div>
          </div>
        </div>
        <div class="customer-data">
          <div>
            <label l10n-id="shop-customer"></label>
          </div>
          <div>
            <span l10n-id="shop-id"></span>
            <input class="customer-login form-control display-inline" l10n-placeholder-id="shop-customer-login">
          </div>
          <div>
            <span l10n-id="shop-password"></span>
            <input class="customer-password form-control display-inline" type="password" l10n-placeholder-id="shop-customer-password"><br>
          </div>
          <div>
          </div>
          <button l10n-id="shop-sell" class="buy-button btn btn-default"></button>
        </div>
      </div>
      <div class="qr-reader hidden">
        <button class="start-qr-read btn btn-default">Read QR</button>
        <br>
        <div class="video">
        </div>
        <br>
        <canvas class="qr-canvas"></canvas>
      </div>
    </div>
  </div>
</div>