<div class="shop-passwords-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <button class="show-passwords-button btn btn-default" l10n-id="shop-show-passwords"></button>
      <table  cellspacing=0 cellpadding=0 class="table table-bordered">
        <thead>
          <tr>
            <th l10n-id="shop-login"></th>
            <th l10n-id="shop-password"></th>
          </tr>
        </thead>
        <tbody class="shop-passwords-table-body"></tbody>
      </table>
    </div>
  </div>
</div>