<div class="shops-tab2">
  <div style="display: flex;justify-content: space-between;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".shops-tab2 div.user-management-area">
          <h3 class="panel-title" l10n-id="shop-management"></h3>
        </a>
      </div>
      <div class="panel-body user-management-area">
        <div class="entity-management">
          <div>
            <input class="adminOnly create-user-name-input form-control display-inline" l10n-placeholder-id="shop-user-name"></input>
            <input class="adminOnly create-user-password-input form-control display-inline" l10n-placeholder-id="shop-user-password"></input>
            <button class="adminOnly create-user-button btn btn-default btn-reduced" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="adminOnly change-password-user-select"></select> 
            <input class="adminOnly change-password-password-input form-control display-inline" l10n-placeholder-id="shop-new-password"></input>
            <button class="adminOnly change-password-button btn btn-default btn-reduced" l10n-id="shop-change-password"></button>
          </div>
          <div>
            <select class="adminOnly remove-user-select"></select>
            <button class="adminOnly remove-user-button btn btn-default btn-reduced" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-tab-navigation"></div>
  <div class="sub-tab-content"></div>
</div>