<div class="shop-profile-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <table>
        <tr>
          <th l10n-id="shop-shops"></th>
        </tr>
        <tr>
          <td><input selector-filter=".shop-profile-tab .entity-selector" class="form-control">
          <select size=20 class="entity-selector form-control"></select></td>
          <td>
            <div>
              <button class="check-shop-button btn btn-default" l10n-id="shop-check-shop-account"></button>
              <span class="check-shop-result"></span>
              <table class="table">
                <tbody class="entity-profile">
                  <tr class="hidden">
                    <td l10n-id="shop-corporation"></td>
                    <td><input class="profileStringInput corp-name-input form-control"></td>
                  </tr>
                  <tr>
                    <td l10n-id="shop-seller-login"></td>
                    <td><input class="profileStringInput seller-login-input form-control"></td>
                  </tr>
                  <tr>
                    <td l10n-id="shop-seller-password"></td>
                    <td><input type="password" class="profileStringInput seller-password-input form-control"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>