<div class="charlist-tab">
  <div class="custom-panel">
<!--       <div l10n-id="main-profile" class="panel-header"></div> -->
    <div class=" columns profile-container">
    </div>
  </div>
  
  <div id="attributes" class="custom-panel">
    <div class="panel-header">
      <img class="left-arrow" src="images/left-arrow.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <div class="header-text" l10n-id="main-attributes" ></div>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="right-arrow" src="images/right-arrow.svg"></img>
    </div>
    <div class=" columns attributes-container">
    </div>
  </div>
  
  <div id="abilities" class="custom-panel">
    <div class="panel-header">
      <img class="left-arrow" src="images/left-arrow.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <div class="header-text" l10n-id="main-abilities" ></div>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="right-arrow" src="images/right-arrow.svg"></img>
    </div>
    <div class=" columns abilities-container">
    </div>
  </div>

  <div id="advantages" class="custom-panel">
    <div class="panel-header">
      <img class="left-arrow" src="images/left-arrow.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <div class="header-text" l10n-id="main-advantages" ></div>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="right-arrow" src="images/right-arrow.svg"></img>
    </div>
    <div class=" columns">
      <div>
        <div l10n-id="main-disciplines" class="panel-subheader"></div>
        <div class="disciplines-container">
          <div class="entity-container"></div>
          <div class="add-button"></div>
        </div>
      </div>
      <div class="backgrounds-container">
        <div l10n-id="main-backgrounds" class="panel-subheader"></div>
        <div class="entity-container"></div>
        <div class="add-button"></div>
      </div>
      <div>
        <div l10n-id="main-virtues" class="panel-subheader"></div>
        <div class="virtues-container">
        </div>
      </div>
    </div>
  </div>
  
  <div id="other" class="">
<!--       <div l10n-id="main-other"></div> -->
    <div class="panel-header">
      <img class="left-arrow" src="images/left-arrow.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="line-separator" src="images/line-separator.svg"></img>
      <img class="right-arrow" src="images/right-arrow.svg"></img>
    </div>
    <div class=" columns">
      <div>
        <div class="merits-container">
          <div l10n-id="main-merits" class="panel-subheader"></div>
          <div class="entity-container"></div>
          <div class="add-button"></div>
        </div>
        <div class="flaws-container">
          <div l10n-id="main-flaws" class="panel-subheader"></div>
          <div class="entity-container"></div>
          <div class="add-button"></div>
        </div>
      </div>
      <div>
        <div l10n-id="main-humanity" class="panel-subheader"></div>
        <div class="humanity-container"></div>
        <div l10n-id="main-willpower" class="panel-subheader"></div>
        <div class="willpower-container"></div>
        <div class="willpower2-container"></div>
        <div l10n-id="main-bloodpool" class="panel-subheader"></div>
        <div class="bloodpool-container"></div>
      </div>
      <div>
        <div l10n-id="main-health" class="panel-subheader"></div>
        <div class="health-container"></div>
<!--           <div l10n-id="main-weakness"></div> -->
<!--           <div l10n-id="main-experience"></div> -->
      </div>
    </div>
  </div>
</div>