<div class="instruction-tab">
  <div style="display: flex;justify-content:space-around;">
    <div class="panel panel-default flex-1-1-auto instruction-panel">
      <div class="panel-heading">
        <a href="#" panel-toggler=".instruction-tab div.first-panel">
          <h3 class="panel-title" l10n-id="main-actions-n-possibilities"></h3>
        </a>
      </div>
      <div class="panel-body first-panel category-management">
        <p>
        Программа 'Лист персонажа Vampire: the Masquerade' это интерактивный лист персонажа для Vampire: the Masquerade четвёртой редакции.
        С помощью программы вы можете создать персонажа и заполнить его характеристики. Далее вы можете скачать информацию о персонаже в текстовом виде.
        Скачанную базу можно загрузить обратно в страницу и продолжить редактирование. Так же можно отправить лист персонажа на печать на обычный 
        или на pdf принтер. Корректность работы проверялась в браузерах Firefox и Chrome.
        </p>
        <p>
        Если из этого описания вы ничего не поняли, то посмотрите видео. Там я всё показываю и рассказываю.
        </p>
        <p>
          Действия
          <ul>
            <li>
              Чтобы заполнить поля профиля поставьте курсор на соответствующее поле.
            </li>
            <li>
            Точки ставятся/снимаются по клику.
            </li>
            <li>
            Добавление дисциплин/дополнений/трейтов происходит по нажатии на кнопку <img alt="" src="images/add-squared-button.svg"> .
            </li>
            <li>
            Удалите название дисциплины/дополнения/трейта, чтобы удалить его из чарлиста.
            </li>
            <li>
            Нажмите кнопку <img alt="" src="images/download149.svg"> чтобы скачать чарник в текстовом виде.
            </li>
            <li>
            Нажмите кнопку <img alt="" src="images/folder29.svg"> чтобы загрузить чарник в текстовом виде в программу и редактировать его.
            </li>
            <li>
            Нажмите кнопку <img alt="" src="images/file11.svg"> чтобы создать новый чарник.
            </li>
            <li>
            Нажмите кнопку <img alt="" src="images/ru.svg"> чтобы сменить язык.
            </li>
            <li>
            Нажмите кнопку <img alt="" src="images/monuments.svg"> чтобы посмотреть историю правок чарника.
            </li>
            <li>
            Чтобы напечатать чарник используйте кнопку Печать в вашем браузере.
            </li>
          </ul>
        </p>
      

      </div>
    </div>
    <div class="panel panel-default flex-1-1-auto instruction-panel">
      <div class="panel-heading">
        <a href="#" panel-toggler=".instruction-tab div.second-panel">
          <h3 class="panel-title" l10n-id="main-video"></h3>
        </a>
      </div>
      <div class="panel-body second-panel local-asset-management">
      </div>
    </div>
  </div>
</div>