
/** full screen experiments */ 
.full-screen{
/*  position: absolute; */
/*  top:0; */
/*  left:0; */
/*  width: 100vw !important; */
/*   height: 100vh !important; */
}

.fullScreenButton{
/*  position: relative; */
/*  top:20px; */
/*   left:20px; */
}
/* full screen experiments **/ 

/** East express colouring */
input:hover,
textarea:hover,
button:hover,
.navigation-button:hover,
.action-button:hover,
select:hover
 {
/*  background-color: red !important; */
/*  border: 3px solid green !important; */
/*  color: white !important; */
/*  font-size:20px !important; */
/*  font-weight: bold !important; */
}

.panel, .panel-body {
/*   background-color: greenyellow !important; */
}
/* East express colouring **/


/** auroresizable textareas */
/* textarea[autoresize] { */
/* textarea.autoresizable {
  display: block;
  overflow: hidden;
  resize: none;
} */
/* auroresizable textareas **/


/* This sets the color for "TK" nodes to a light blue green. */
/* g.type-TK > rect {
  fill: #00ffd0;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node {
  stroke-width: 1px;
}

.node.valid {
  stroke: #255C03;
  fill: #399605;
}

.node.invalid {
  stroke: #990000;
  fill: #EE0000;
}

g > text {
  fill: #ffffff;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  fill: none;
  stroke-width: 2px;
} */

/* body {
  color: green;
  border: 3px solid red;
  
} */