<div id="briefingExportDiv" class="block">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler="#briefingExportDiv div.export-panel-body">
        <h3 class="panel-title" l10n-id="briefings-export-settings"></h3>
      </a>
    </div>
    <div class="panel-body export-panel-body flex-root">
      
      <fieldset class="margin-right-16">
        <legend l10n-id="briefings-export-mode"></legend>
        <div>
          <input type="checkbox" id="toSeparateFileCheckbox"/> 
          <label for="toSeparateFileCheckbox" l10n-id="briefings-each-briefing-to-own-file"></label>
        </div>
        <div>
          <input type="checkbox" id="exportOnlyFinishedStories"/> 
          <label for="exportOnlyFinishedStories" l10n-id="briefings-export-only-finished-stories"></label>
        </div>
      </fieldset>
    
      <fieldset class="margin-right-16">
        <legend l10n-id="briefings-briefing-selection"></legend>
        <div class="flex-root">
          <div class="flex-0-0-auto margin-right-16">
            <div>
              <input type="radio" name="exportCharacterSelection" id="exportAllCharacters"/>
              <label for="exportAllCharacters" l10n-id="briefings-print-all"></label>
            </div>
            <div>
              <input type="radio" name="exportCharacterSelection" id="exportCharacterRange"/>
              <label for="exportCharacterRange" l10n-id="briefings-print-partly"></label>
            </div>
            <div>
              <input type="radio" name="exportCharacterSelection" id="exportCharacterSet"/>
              <label for="exportCharacterSet" l10n-id="briefings-exact-multiselect"></label>
            </div>
          </div>
          <div class="flex-0-0-auto">
            <div id="characterRangeSelect" class="hidden">
              <div>
                <span l10n-id="briefings-briefings-amount"></span> 
                <select id="briefingNumberSelector" class="form-control"></select>
              </div>
              <div>
                <span l10n-id="briefings-briefings-range" class="display-block"></span>
                <select id="briefingIntervalSelector" class="form-control common-select"></select>
              </div>
            </div>
            <div id="characterSetSelect" class="hidden">
              <input selector-filter="#characterSetSelector">
              <select id="characterSetSelector" multiple size=15  class="form-control"></select>
            </div>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend l10n-id="briefings-story-selection"></legend>
        <div class="flex-root">
          <div class="flex-0-0-auto margin-right-16">
            <div>
              <input type="radio" name="exportStorySelection" value="all" id="exportAllStories"/>
              <label for="exportAllStories" l10n-id="briefings-export-all-stories"></label>
            </div>
            <div>
              <input type="radio" name="exportStorySelection" value="multiple" id="exportStorySet"/>
              <label for="exportStorySet" l10n-id="briefings-exact-multiselect"></label>
            </div>
          </div>
          <div class="flex-0-0-auto">
            <div id="storySetSelect" class="hidden">
              <input selector-filter="#storySetSelector">
              <select id="storySetSelector" multiple size=15  class="form-control"></select>
            </div>
          </div>
        </div>
        
      </fieldset>
    </div>
  </div>
      
  <div style="display:flex;margin-right:8px;">
    <button class="navigation-button exportModeButton" id="simpleExport" l10n-id="briefings-simple-export"></button>
    <button class="navigation-button exportModeButton" id="advancedWordExport" l10n-id="briefings-advanced-docx-export"></button>
    <button class="navigation-button exportModeButton" id="advancedTextExport" l10n-id="briefings-advanced-txt-export"></button>
  </div>
      
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="simpleExportContainer" class="exportContainer">
        <button class="btn btn-default btn-reduced" id="makeBriefingsByTime" l10n-id="briefings-make-docx-by-time"></button>
        <button class="btn btn-default btn-reduced" id="makeBriefingsByStory" l10n-id="briefings-make-docx-by-stories"></button>
        <button class="btn btn-default btn-reduced" id="makeDefaultTextBriefings" l10n-id="briefings-make-txt"></button>
        
        <button class="btn btn-default btn-reduced" id="makeInventoryList" l10n-id="briefings-make-inventory"></button>
      </div>
      
      <div id="advancedWordExportContainer" class="exportContainer">
        <span l10n-id="briefings-upload-template"></span> 
        <input type="file" name="file" id="docxBriefings" class="form-control"> 
        <button class="btn btn-default btn-reduced" id="makeDocxBriefings" l10n-id="briefings-make-export"></button>
      </div>
      
      <div id="advancedTextExportContainer" class="exportContainer container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <div class="margin-bottom-16">
              <button class="btn btn-default btn-reduced white-space-normal" id="previewTextOutput" l10n-id="briefings-preview"></button>
              <button class="btn btn-default btn-reduced white-space-normal" id="showRawData" l10n-id="briefings-raw-data"></button>
              <button class="btn btn-default btn-reduced white-space-normal" id="convertToDocxTemplate" l10n-id="briefings-convert-to-docx-template"></button>
              <button class="btn btn-default btn-reduced white-space-normal" id="generateByDocxTemplate" l10n-id="briefings-generate-by-docx-template"></button>
              <button class="btn btn-default btn-reduced white-space-normal" id="makeCustomTextBriefings" l10n-id="briefings-export"></button>
              <button class="btn btn-default btn-reduced white-space-normal" id="makeMarkdownBriefings" l10n-id="briefings-markdown-export"></button>
            </div>
            <div>
              <label l10n-id="briefings-enter-text-file-type"></label>
              <input id="textTypeSelector" value="txt" class="form-control"/>
            </div>
          </div>
          <div class="col-xs-5">
            <div>
              <h3 l10n-id="briefings-template"></h3>
              <textarea id="templateArea" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-xs-5">
            <h3 l10n-id="briefings-exported-text"></h3>
            <textarea id="textBriefingPreviewArea" class="form-control"></textarea>
          </div>
        </div>
      </div>
          
      <h3 l10n-id="briefings-export-status"></h3>
      <div id="exportStatus"></div>
    </div>
  </div>
</div>