<div id="briefingPreviewDiv" class="block">
  <div class="panel panel-default">
    <div class="panel-heading">
      <select id="briefingCharacter"></select>
    </div>
    <div class="panel-body">
        <div class="flex-root">
          <div class="flex-0-0-auto" style="padding: 0px 32px 0px 0px;">
            <div>
              <input type="radio" name="tabMode" value="adaptations" id="adaptationsModeRadio" />
              <label for="adaptationsModeRadio" l10n-id="briefings-adaptations-mode"></label>
            </div>
            <div>
              <input type="radio" name="tabMode" value="proofreading" id="proofreadingModeRadio" />
              <label for="proofreadingModeRadio" l10n-id="briefings-proofreading-mode"></label>
            </div>
          </div>
          <div class="flex-0-0-auto" style="padding: 0px 32px 0px 0px;">
            <div>
              <input type="radio" name="eventsGroupBy" value="story" id="eventGroupingByStoryRadio" />
              <label for="eventGroupingByStoryRadio" l10n-id="briefings-group-by-story"></label>
            </div>
            <div>
              <input type="radio" name="eventsGroupBy" value="time" id="eventGroupingByTimeRadio" />
              <label for="eventGroupingByTimeRadio" l10n-id="briefings-sort-by-timeline"></label>
            </div>
          </div>
          <div class="flex-0-0-auto">
            <div>
              <input type="checkbox" id="hideAllPanelsCheckbox" class="hidden"/>
              <label for="hideAllPanelsCheckbox" class="checkbox-label-icon common-checkbox"><span l10n-id="briefings-hide-all-panels"></span></label>
            </div>
            <div>
              <input type="checkbox" id="disableHeadersCheckbox" class="hidden"/>
              <label for="disableHeadersCheckbox" class="checkbox-label-icon common-checkbox"><span l10n-id="briefings-disable-headers"></span></label>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div id="briefingContent"></div>
  
</div>