<template class="relation-tmpl">
  <div>
    <div class="entity-management relations-management">
      <div>
        <span class="known-characters-label"></span>
        <span><select class="common-select known-characters-select" style="width: 200px;"></select></span>
        <button class="add-known-character-relation btn btn-default btn-reduced"></button>
      </div>
      <div>
        <span class="unknown-characters-label"></span>
        <span><select class="common-select unknown-characters-select" style="width: 200px;"></select></span>
        <button class="add-unknown-character-relation btn btn-default btn-reduced"></button>
      </div>
      <div>
        <span class="profile-item-label"></span>
        <span><select class="common-select profile-item-select" style="width: 200px;"></select></span>
      </div>
    </div>
    
    <div class="relation-content container-fluid">
    </div>
  </div>
</template>

<template class="relation-row-tmpl">
  <div class="row">
    <div class="to-character-data col-xs-3">
      <h4 class="to-character-name"></h4>
      <div>
        <div class="where-meets-label bold-cursive"></div>
        <div class="where-meets-content"></div>
      </div>
      <div tocharacter="">
        <div class="profile-item-name bold-cursive"></div>
        <div class="profile-item-value"></div>
      </div>
      <div>
        <button class="btn btn-default fa-icon remove"></button>
      </div>
    </div>
    <div class="direct text-column col-xs-3">
      <div class="pre-text-area"></div>
      <textarea class="briefing-relation-area form-control"></textarea>
      <div>
        <input class="" type="checkbox"><label></label>
      </div>
    </div>
    <div class="origin text-column col-xs-3">
      <div class="pre-text-area btn-group">
        <button class="btn btn-default fa-icon starterToEnder"></button>
        <button class="btn btn-default fa-icon allies"></button>
        <button class="btn btn-default fa-icon enderToStarter"></button>
      </div>
      <textarea class="briefing-relation-area form-control"></textarea>
    </div>
    <div class="reverse text-column col-xs-3">
      <div class="pre-text-area"></div>
      <textarea class="briefing-relation-area form-control"></textarea>
      <div>
        <input class="" type="checkbox"><label></label>
      </div>
    </div>
  </div>
</template>