<div class="character-reports-tmpl">
  <template class="story-report-row-tmpl">
    <tr class="story-report-row">
      <td class="story-name"></td>
      <td class="activity-active fa-icon activity-icon-active" l10n-title="constant-active"></td>
      <td class="activity-follower fa-icon activity-icon-follower" l10n-title="constant-follower"></td>
      <td class="activity-defensive fa-icon activity-icon-defensive" l10n-title="constant-defensive"></td>
      <td class="activity-passive fa-icon activity-icon-passive" l10n-title="constant-passive"></td>
<!--       <td class="activity-active fa-icon activity-icon-active" l10n-id="constant-active-s"></td> -->
<!--       <td class="activity-follower fa-icon activity-icon-follower" l10n-id="constant-follower-s"></td> -->
<!--       <td class="activity-defensive fa-icon activity-icon-defensive" l10n-id="constant-defensive-s"></td> -->
<!--       <td class="activity-passive fa-icon activity-icon-passive" l10n-id="constant-passive-s"></td> -->
      <td class="completness text-right"></td>
      <td class="meets"></td>
      <td class="inventory"></td>
    </tr>
  </template>
  
  <template class="relation-report-row-tmpl">
    <tr class="relation-report-row">
      <td class="character-name"></td>
      <td class="direction-starterToEnder fa-icon starterToEnder text-center"></td>
      <td class="direction-allies fa-icon allies text-center" l10n-title="constant-allies"></td>
      <td class="direction-enderToStarter fa-icon enderToStarter text-center"></td>
      <td class="completness"></td>
      <td class="origin"></td>
    </tr>
  </template>
</div>
