<div class="profile-editor2-tab-tmpl fixed-tab">
  <div class="container-fluid height-100p">
    <div class="row height-100p">
      <div class="col-xs-3 height-100p">
        <div class="panel panel-default  entity-select height-100p">
          <div class="panel-body height-100p">
            <div class="flex-root entity-toolbar">
              <button class="btn btn-default btn-reduced fa-icon create flex-0-0-auto"></button>
              <input class="form-control entity-filter flex-1-1-auto" type="search" >
            </div>
            <div class="entity-list">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-9 content-column height-100p">
        <div class="panel panel-default report">
          <div class="panel-heading">
            <a href="#">
              <h3 class="panel-title" l10n-id="profiles-character-report"></h3>
            </a>
          </div>
          <div class="panel-body report-div">
            <table class="table table-bordered table-striped">
              <thead>
                <th l10n-id="profiles-story"></th>
                <th l10n-id="profiles-activity" colspan="4"></th>
                <th l10n-id="profiles-completness"></th>
                <th l10n-id="profiles-meets"></th>
                <th l10n-id="profiles-inventory"></th>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        
        <div class="panel panel-default profile-panel">
          <div class="panel-heading">
            <a href="#">
              <h3 class="panel-title"></h3>
            </a>
          </div>
          <div class="panel-body profile-div">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <template class="entity-item-tmpl">
    <div class="btn-group flex-root">
      <button class="btn btn-default btn-reduced fa-icon remove flex-0-0-auto transparent"></button>
      <button class="btn btn-default btn-reduced fa-icon rename flex-0-0-auto transparent"></button>
      <button type="button" class="select-button btn btn-default btn-reduced flex-1-1-auto text-align-left white-space-normal">
        <span class="primary-name"></span>
        <small><div class="secondary-name"></div></small>
      </button>
    </div>
  </template>
</div>