<div class="profile-editor-core-tmpl">
  
  <template class="profile-editor-container-tmpl">
    <div class="form-horizontal insertion-point"></div>
  </template>
  
  <template class="profile-editor-row-tmpl">
    <div class="form-group">
      <label class="col-xs-3 control-label profile-item-name"></label>
      <div class="col-xs-9 profile-item-input">
      </div>
    </div>
  </template>
  
<!--   <template class="profile-editor-container-tmpl"> -->
<!--     <table class="table table-striped"> -->
<!--       <tbody class="insertion-point"> -->
<!--       </tbody> -->
<!--     </table> -->
<!--   </template> -->
  
<!--   <template class="profile-editor-row-tmpl"> -->
<!--     <tr> -->
<!--       <td class="profile-item-name"></td> -->
<!--       <td class="profile-item-input"></td> -->
<!--     </tr> -->
<!--   </template> -->
</div>
