<div class="role-grid-tab block">
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default col-xs-3">
        <div class="panel-heading">
          <p>Нажмите на кнопку, чтобы добавить/удалить уровень в сетке ролей.</p>
          <p>Перетащите кнопку вверх/вниз, чтобы изменить иерархию отображения.</p>
          <div class="button-container flex-column"></div>
        </div>
      </div>
      
      <div class="group-content col-xs-9"></div>
    </div>
  </div>
</div>