<div class="enter-tab flexRoot" style="justify-content: center; height: 80vh; align-items: center;flex-direction: column;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" l10n-id3="">Введите имя пользователя и пароль</h3>
    </div>
    <div class="panel-body group-control-area">

      <form class="login-form entity-management" name="login-form">
        <div class="">
          <label for="input-username" class="" style="width: 80px; text-align: right; padding: 0 10px 0 0;">Логин</label>
          <input name="username" value="admin" type="text" class="common-input" id="input-username" placeholder="Логин">
        </div>
        <div class="">
          <label for="input-password" class="" style="width: 80px; text-align: right; padding: 0 10px 0 0;">Пароль</label>
          <input name="password" type="password" class="common-input" id="input-password" placeholder="Пароль">
        </div>
        <div class="" style="display:flex;">
          <span class="help-block error" style="flex-grow: 1;"></span>
          <button type="submit" class="" style="">Войти</button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default" style="width: 450px;">
    <div class="panel-body group-control-area">
        <span>В случае проблем или сложностей в использовании, пожалуйста, обращайтесь к разработчикам. 
  <a href="http://trechkalov.com/">Сайт разработчикa.</a></span>
    </div>
  </div>
</div>