<div class="master-management-tab">
  <div style="display: flex;justify-content: space-between;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".master-management-tab div.user-management-area">
          <h3 class="panel-title" l10n-id="admins-user-management"></h3>
        </a>
      </div>
      <div class="panel-body user-management-area">
        <div class="entity-management">
          <div>
            <input id="userNameInput" class="adminOnly" l10n-placeholder-id="admins-user-name"></input>
            <input id="userPasswordInput" class="adminOnly" l10n-placeholder-id="admins-user-password"></input>
            <button id="createUserButton" class="adminOnly" l10n-id="common-create"></button>
          </div>
          <div>
            <select id="passwordUserName" class="adminOnly"></select> 
            <input id="newPassword" class="adminOnly" l10n-placeholder-id="admins-new-password"></input>
            <button id="changePasswordButton" class="adminOnly" l10n-id="admins-change-password"></button>
          </div>
          <div>
            <select id="userRemoveSelector" class="adminOnly"></select>
            <button id="removeUserButton" class="adminOnly" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".master-management-tab div.special-actions-area">
          <h3 class="panel-title" l10n-id="admins-special-actions"></h3>
        </a>
      </div>
      <div class="panel-body special-actions-area" style="display: flex;justify-content: space-between;">
        <div class="entity-management">
          <div>
            <span l10n-id="admins-admin"></span><span id="currentAdministrator"></span>
          </div>
          <div>
            <select id="newAdminSelector" class="adminOnly"></select>
            <button id="newAdminButton" class="adminOnly" l10n-id="admins-assign-admin"></button>
          </div>
          <div>
            <span l10n-id="admins-editor"></span><span id="currentEditor"></span>
            <button id="removeEditorButton" class="editorOrAdmin" l10n-id="admins-remove-editor"></button>
          </div>
          <div>
            <select id="newEditorSelector" class="adminOnly"></select>
            <button id="newEditorButton" class="adminOnly" l10n-id="admins-assign-editor"></button>
          </div>
        </div>
        <div class="entity-management">
          <div>
            <span l10n-id="admins-assign-adaptation-rights"></span>
          </div>
          <div>
            <input type="radio" name="adaptationRights" class="adaptationRights adminOnly" value="ByStory"
              id="adaptationRightsByStory"
            >
            <label for="adaptationRightsByStory" l10n-id="admins-by-stories"></label>
          </div>
          <div>
            <input type="radio" name="adaptationRights" class="adaptationRights adminOnly" value="ByCharacter"
              id="adaptationRightsByCharacter"
            >
            <label for="adaptationRightsByCharacter" l10n-id="admins-by-characters"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="accessManagerContent" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" l10n-id="admins-editing-rights"></h3>
      </div>
      <div class="panel-body" style="display:flex;">
        <div>
          <span l10n-id="admins-rights"></span>
          <div id="permissionTable"></div>
        </div>
        <div>
          <table>
            <tr>
              <th l10n-id="admins-characters"></th>
              <th l10n-id="admins-stories"></th>
              <th l10n-id="admins-groups"></th>
              <th l10n-id="admins-players"></th>
              <th l10n-id="admins-users"></th>
            </tr>
            <tr>
              <td>
                <input selector-filter="#permission-selector__characters"><br>
                <select size=15 id="permission-selector__characters" multiple></select>
              </td>
              <td>
                <input selector-filter="#permission-selector__stories"><br>
                <select size=15 id="permission-selector__stories" multiple></select>
              </td>
              <td>
                <input selector-filter="#permission-selector__groups"><br>
                <select size=15 id="permission-selector__groups" multiple></select>
              </td>
              <td>
                <input selector-filter="#permission-selector__groups"><br>
                <select size=15 id="permission-selector__players" multiple></select>
              </td>
              <td>
                <select size=10 id="userPermissionSelector" style="min-width: 96px;"></select>
              </td>
            </tr>
          </table>
          <button id="assignPermissionButton" l10n-id="admins-assign-rights"></button>
          <button id="removePermissionButton" class="adminOnly" l10n-id="admins-take-away-rights"></button>
        </div>
      </div>
    </div>
  </div>
</div>
