<div class="register-tab flexRoot" style="justify-content: center; height: 80vh; align-items: center;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" l10n-id3="">Введите имя пользователя и пароль</h3>
    </div>
    <div class="panel-body group-control-area">

      <form class="register-form entity-management" name="register-form">
        <div class="">
          <label for="input-username" class="" style="">Логин</label>
          <input name="username" value="admin" type="text" class="common-input" id="input-username" placeholder="Имя пользователя">
        </div>
        <div class="">
          <label for="input-password" class="" style="">Пароль</label>
          <input name="password" type="password" class="common-input" id="input-password" placeholder="Пароль">
        </div>
        <div class="">
          <label for="confirm-password" class="" style="">Подтверждение</label>
          <input name="confirmPassword" type="password" class="common-input" id="confirm-password" placeholder="Подтвердите пароль">
        </div>
        <div class="">
          <span class="help-block error"></span>
          <button type="submit" class="" data-loading-text="Отправляю..." style="float: right;">Зарегистрироваться</button>
        </div>
      </form>
    </div>
  </div>
</div>