<div class="analyst-tab">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".analyst-tab .craters-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Воронки</h3>
      </a>
    </div>
    <div class="panel-body craters-panel">
      <table class="table table-bordered table-striped craters-table">
        <thead>
          <th l10n-id2="profiles-story">Время наложения</th>
          <th l10n-id2="profiles-story">Масса</th>
          <th l10n-id2="profiles-activity" >Плотность</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".analyst-tab .influences-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Воздействия</h3>
      </a>
    </div>
    <div class="panel-body influences-panel">
      <table class="table table-bordered table-striped influence-table">
        <thead>
          <th l10n-id2="profiles-story">Время</th>
          <th l10n-id2="profiles-story">Человек</th>
          <th l10n-id2="profiles-story">Психополе</th>
          <th l10n-id2="profiles-activity" >Широта</th>
          <th l10n-id2="profiles-completness">Долгота</th>
          <th l10n-id2="profiles-meets">Сила</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".analyst-tab .influence-map-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Карта</h3>
      </a>
    </div>
    <div class="panel-body influence-map-panel">
      <div id="analyst-map" style="width: 600px; height: 400px;"></div>
<!--       <div id="map" style="width: 100vw; height: 90vh;"></div> -->
    </div>
  </div>
</div>
