<div class="influences-tab">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".influences-tab .influence-table-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Таблица воздействий</h3>
      </a>
    </div>
    <div class="panel-body influence-table-panel">
      <div class="panel-body">
        <div class="entity-management">
          <div>
            <input class="create-entity-input time" placeholder="Время"></input>
            <input class="create-entity-input sender" placeholder="Отправитель"></input>
            <input class="create-entity-input latitude" placeholder="Широта"></input>
            <input class="create-entity-input longitude" placeholder="Долгота"></input>
            <input class="create-entity-input power" placeholder="Сила" type="number" min="-7" max="7"></input>
            <button class="create-entity-button" l10n-id="common-create"></button>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped influence-table">
        <thead>
          <th l10n-id2="profiles-story">Время</th>
          <th l10n-id2="profiles-story">Отправитель</th>
          <th l10n-id2="profiles-activity" >Широта</th>
          <th l10n-id2="profiles-completness">Долгота</th>
          <th l10n-id2="profiles-meets">Сила</th>
          <th l10n-id2="profiles-inventory"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".influences-tab .influence-map-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Карта</h3>
      </a>
    </div>
    <div class="panel-body influence-map-panel">
      <div id="map" style="width: 600px; height: 400px;"></div>
<!--       <div id="map" style="width: 100vw; height: 90vh;"></div> -->
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".influences-tab .expired-influence-table-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Прошедшие воздействия</h3>
      </a>
    </div>
    <div class="panel-body expired-influence-table-panel">
      <table class="table table-bordered table-striped expired-influence-table">
        <thead>
          <th l10n-id2="profiles-story">Время</th>
          <th l10n-id2="profiles-story">Отправитель</th>
          <th l10n-id2="profiles-activity" >Широта</th>
          <th l10n-id2="profiles-completness">Долгота</th>
          <th l10n-id2="profiles-meets">Сила</th>
          <th l10n-id2="profiles-inventory"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>