.gears-tab .big-picture {
  overflow: auto !important;
}

.gears-tab .big-picture > canvas {
  width: 3000px !important;
  height: 3000px !important;
}

.gears-config-dialog{
  margin: 30px auto 30px 30px;
}

textarea.node-notes {
  height: 120px;
}
