<div class="adaptations-tab block">
  <div class="panel panel-default">
    <div class="panel-body">
      <input type="checkbox" id="finishedStoryCheckbox"/><label for="finishedStoryCheckbox" l10n-id="adaptations-show-only-unfinished-stories"></label>
    </div>
  </div>
  <div class="main-container">
    <div>
      <div id="personalStoriesCharacterContainer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" l10n-id="adaptations-story"></h3>
          </div>
          <div class="panel-body panel-resizable form-group">
            <input selector-filter="#events-storySelector">
            <select id="events-storySelector" class="form-control"></select>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" l10n-id="adaptations-filter"></h3>
          </div>
          <div class="panel-body">
            
            <div>
              <input type="radio" name="adaptationFilter" value="ByCharacter" id="adaptationFilterByCharacter">
              <label for="adaptationFilterByCharacter" l10n-id="adaptations-by-characters"></label>
            </div>
            <div>
              <input type="radio" name="adaptationFilter" value="ByEvent" id="adaptationFilterByEvent">
              <label for="adaptationFilterByEvent" l10n-id="adaptations-by-events"></label>
            </div>
            
            <div id="events-characterSelectorDiv">
              <h4 l10n-id="adaptations-characters"></h4>
              <select id="events-characterSelector" class="form-control" multiple></select>
            </div>
            <div id="events-eventSelectorDiv" class="hidden">
              <h4 l10n-id="adaptations-events"></h4>
              <select id="events-eventSelector" class="form-control" multiple size=15></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="flex-grow:1;">
      <div class="panel-heading">
        <h3 class="panel-title" l10n-id="adaptations-adaptations"></h3>
      </div>
      <div class="panel-body">
         <div class="eventMainPanelRow" style="margin:0;">
           <div class="eventMainPanelRow-left">
             <h3 l10n-id="adaptations-origin"></h3>
           </div>
           <div class="eventMainPanelRow-right">
             <h3 l10n-id="adaptations-adaptation"></h3>
           </div>
         </div>
         <div id="personalStories">
         </div>
      </div>
    </div>
  </div>
  
  <template class="adaptation-tmpl">
    <div class="events-singleEventAdaptation">
      <div class="story-events-div-main">
        <div class="story-events-div-left characterName"></div>
        <div class="story-events-div-right">
          <input class="adaptationTimeInput form-control">
        </div>
      </div>
      <textarea class="eventPersonalStory form-control"></textarea>
      <div class="checkbox-area">
        <input class="" type="checkbox"><label l10n-id="constant-finishedText"></label>
      </div>
    </div>
  </template>
</div>