<div class="dialog-commons">
  <template class="request-data-dialog-tmpl">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" l10n-id="common-cancel"></button>
            <button type="button" class="btn btn-primary on-action-button"></button>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <template class="modal-error-block">
    <div class="form-group has-error">
      <span class="help-block error-msg"></span>
    </div>
  </template>
  
  <template class="modal-prompt-body">
    <div class="form-group">
      <input class="entity-input form-control"></input>
    </div>
  </template>
  
  <template class="modal-add-character-body">
    <div class="form-group">
      <select class="isStoryEditable storyCharactersAddSelector form-control" style="width: 100%;"></select>
    </div>
  </template>
  
  <template class="modal-switch-event-body">
    <div class="form-group">
      <select class="isStoryEditable storyCharactersToSelector form-control" style="width: 100%;"></select>
    </div>
  </template>
  
  <template class="move-profile-item-body">
    <div class="form-group">
      <select class="adminOnly form-control move-entity-position-select">
      </select> 
    </div>
  </template>
  
  <template class="move-event-body">
    <div class="form-group">
      <select class="isStoryEditable eventPositionSelector movePositionSelector form-control"></select>
    </div>
  </template>
  
  <template class="create-profile-item-body">
    <div class="form-group">
      <label class="control-label" l10n-id="profiles-profile-item-name"></label>
      <input class="form-control create-entity-name-input" ></input> 
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="profiles-profile-item-position"></label>
      <select class="adminOnly form-control create-entity-position-select">
      </select> 
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="profiles-profile-item-type"></label>
      <select class="adminOnly form-control create-entity-type-select"></select> 
    </div>
  </template>
  
  <template class="create-event-body">
    <div class="form-group">
      <label class="control-label" l10n-id="stories-event-name"></label>
      <input class="isStoryEditable form-control eventNameInput"></input>
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="stories-event-descr"></label>
      <textarea class="event-text isStoryEditable form-control eventTextInput"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="stories-event-position"></label>
      <select class="isStoryEditable eventPositionSelector positionSelector form-control"></select>
    </div>
  </template>
  
  <template class="create-master-body">
    <div class="form-group">
      <label class="control-label" l10n-id="admins-login"></label>
      <input class="form-control create-user-name-input"></input>
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="admins-user-password"></label>
      <input class="form-control create-user-password-input"></input>
    </div>
  </template>
  
  <template class="create-player-account-body">
    <div class="form-group">
      <label class="control-label" l10n-id="admins-player"></label>
      <select class="adminOnly create-login-name-select form-control" style="width:100%;"></select>
    </div>
    <div class="form-group">
      <label class="control-label" l10n-id="admins-user-password"></label>
      <input class="adminOnly form-control create-login-password-input"></input>
    </div>
  </template>
</div>