<div class="register-tab flexRoot block" style="justify-content: center; height: 80vh; align-items: center;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" l10n-id="entrance-enter-user-name-and-password"></h3>
    </div>
    <div class="panel-body group-control-area">

      <form class="register-form entity-management" name="register-form">
        <div class="input-group">
          <input name="username" value="admin" type="text" id="input-username" class="form-control" l10n-placeholder-id="entrance-login" type="text">
          <input name="password" type="password" id="input-password" class="form-control" l10n-placeholder-id="entrance-password">
          <input name="confirmPassword" type="password" id="confirm-password" class="form-control" l10n-placeholder-id="entrance-confirm-password">
          <span class="help-block error" style="flex-grow: 1;"></span>
          <button type="submit" class="form-control" style="" l10n-id="entrance-register"></button>
        </div>
      </form>
    </div>
  </div>
</div>

