<div class="timeline-tab block">
  <div class="flexRoot">
    <div class="storySelectorContainer">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" l10n-id="timeline-timeline"></h3>
        </div>
        <div class="panel-body panel-resizable">
          <div>
            <input type="radio" name="timelineFilter" value="ByStory" id="timelineFilterByStory" class="hidden">
            <label for="timelineFilterByStory" class="radio-label-icon common-radio"><span l10n-id="timeline-filter-by-stories"></span></label>
          </div>
          <div>
            <input type="radio" name="timelineFilter" value="ByCharacter" id="timelineFilterByCharacter" class="hidden">
            <label for="timelineFilterByCharacter" class="radio-label-icon common-radio"><span l10n-id="timeline-filter-by-characters"></span></label>
          </div>
        
          <input selector-filter="#timelineStorySelector">
          <select size=20 id="timelineStorySelector" multiple class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="panel panel-default flex-1-1-auto">
      <div class="panel-body">
        <ul class="nav nav-pills margin-bottom-16">
          <li class="btn-default active"><a href="#timeline-list" data-toggle="tab" l10n-id="timeline-list"></a>
          </li>
          <li class="btn-default"><a href="#timeline-interactive" data-toggle="tab" l10n-id="timeline-interactive"></a></li>
        </ul>
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="timeline-list">
            <div class="container-fluid">
              <div class="row margin-bottom-8">
                <div class="col-xs-2 white-space-normal" style="font-weight: bold;" l10n-id="timeline-time"></div>
                <div class="col-xs-2 white-space-normal" style="font-weight: bold;" l10n-id="timeline-story-name"></div>
                <div class="col-xs-3 white-space-normal" style="font-weight: bold;" l10n-id="timeline-event-name"></div>
                <div class="col-xs-5 white-space-normal" style="font-weight: bold;" l10n-id="timeline-characters"></div>
              </div>
            </div>
            <div class="container-fluid timeline-list"></div>
          </div>
          <div class="tab-pane" id="timeline-interactive">
            <div class="visualObjectContainer full-screen-elem " id="timelineContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <template class="timeline-event-tmpl">
    <div class="row">
      <div class="col-xs-2 white-space-normal time"></div>
      <div class="col-xs-2 white-space-normal story-name"></div>
      <div class="col-xs-3 white-space-normal event-name"></div>
      <div class="col-xs-5 white-space-normal characters"></div>
    </div>
  </template>
</div>