<div class="group-profile-tab block fixed-tab">

  <div class="container-fluid height-100p">
    <div class="row height-100p">
      <div class="col-xs-3 height-100p">
        <div class="panel panel-default entity-select height-100p">
          <div class="panel-body height-100p">
          
            <div class="flex-root entity-toolbar">
              <button class="btn btn-default btn-reduced fa-icon create flex-0-0-auto"></button>
              <input class="form-control entity-filter flex-1-1-auto" type="search" >
            </div>
            <div class="entity-list">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-9 height-100p" style="overflow: auto;">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <tbody class="entity-profile"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>