<div class="group-profile-tab">
  <div class="panel panel-default">
    <div class="panel-body">
      <table>
        <tr>
          <th l10n-id="groups-groups"></th>
        </tr>
        <tr>
          <td><input selector-filter=".group-profile-tab .entity-selector"><br>
          <select size=20 class="entity-selector"></select></td>
          <td>
            <div>
              <table class="table">
                <tbody class="entity-profile"></tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>