<div class="profile-filter-tab block">

  <div class="panel panel-default">
    <div class="panel-body first-panel">
      <div class="flex-root entity-toolbar">
        <button class="btn btn-default btn-reduced fa-icon create group flex-0-0-auto icon-padding" 
          l10n-title="groups-create-entity"><span l10n-id="groups-group"></span></button>
        <select class="common-select save-entity-select"></select>
        <button class="btn btn-default btn-reduced fa-icon rename group flex-0-0-auto"
          l10n-title="groups-rename-entity"></button>
        <button class="btn btn-default btn-reduced fa-icon remove group flex-0-0-auto"
          l10n-title="groups-remove-entity"></button>
        <button class="btn btn-default btn-reduced fa-icon group-to-filter flex-0-0-auto show-entity-button"
          l10n-title="groups-show-group-filter"></button>
        <button class="btn btn-default btn-reduced fa-icon filter-to-group flex-0-0-auto save-entity-button"
          l10n-title="groups-save-group-filter"></button>
        <button class="btn btn-default btn-reduced fa-icon download-table download-filter-table" 
          l10n-title="profile-filter-download-filter-table"></button>
      </div>
    </div>
  </div>

  <div class="flex-root">
    <div class="flex-0-0-auto" style="margin-right: 8px; min-width: 300px;">
    
      <div id="exTab3" class="panel panel-default">
        <div class="panel-body">
        
          <ul class="nav nav-pills margin-bottom-16">
            <li class="btn-default active"><a href="#1b" data-toggle="tab" l10n-id="profile-filter-rows"></a>
            </li>
            <li class="btn-default"><a href="#2b" data-toggle="tab" l10n-id="profile-filter-columns"></a></li>
            <li class="filter-result-size" style="padding: 10px 15px;" l10n-title="profile-filter-results"></li>
          </ul>
        
          <div class="tab-content clearfix">
            <div class="tab-pane active" id="1b">
              <div class="panel-resizable">
                <div class="filter-settings-panel"></div>
              </div>
            </div>
            <div class="tab-pane" id="2b">
              <select multiple class="profile-item-selector form-control"></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-0-0-auto">
      <div class="panel panel-default">
        <table  class="table table-striped table-bordered">
          <thead class="filter-head"></thead>
          <tbody class="filter-content"></tbody>
        </table>
      </div>
    </div>
  </div>
  
  <template class="text-filter-tmpl">
    <input class="form-control"/>
  </template>
  
  <template class="number-filter-tmpl">
    <div>
      <select class="form-control"></select>
      <input class="form-control" type="number"/>
    </div>
  </template>
  
  <template class="common-enum-filter-tmpl">
    <select class="form-control" multiple></select>
  </template>
  
  <template class="multi-enum-filter-tmpl">
    <div>
      <select class="form-control multi-enum-filter-type"></select>
      <select class="form-control multi-enum-filter-content" multiple></select>
    </div>
  </template>
</div>

