<div class="player-management-tab">
  <div style="display: flex;justify-content: space-between;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".player-management-tab div.user-management-area">
          <h3 class="panel-title" l10n-id="admins-user-management"></h3>
        </a>
      </div>
      <div class="panel-body user-management-area">
        <div class="entity-management">
          <div>
            <input class="adminOnly create-user-name-input" l10n-placeholder-id="admins-user-name"></input>
            <input class="adminOnly create-user-password-input" l10n-placeholder-id="admins-user-password"></input>
            <button class="adminOnly create-user-button" l10n-id="admins-create-player"></button>
          </div>
          <div>
            <select class="adminOnly create-login-name-select"></select>
            <input class="adminOnly create-login-password-input" l10n-placeholder-id="admins-user-password"></input>
            <button class="adminOnly create-login-button" l10n-id="admins-create-login"></button>
          </div>
          <div>
            <select class="adminOnly change-password-user-select"></select> 
            <input class="adminOnly change-password-password-input" l10n-placeholder-id="admins-new-password"></input>
            <button class="adminOnly change-password-button" l10n-id="admins-change-password"></button>
          </div>
          <div>
            <select class="adminOnly remove-user-select"></select>
            <button class="adminOnly remove-user-button" l10n-id="admins-remove-login"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".player-management-tab div.special-actions-area">
          <h3 class="panel-title" l10n-id="admins-settings"></h3>
        </a>
      </div>
      <div class="panel-body special-actions-area" style="display: flex;justify-content: space-between;">
        <div class="entity-management">
          <div>
            <input type="checkbox" class="playerOptions" value="allowPlayerCreation" id="allowPlayerCreation"/>
            <label for="allowPlayerCreation" l10n-id="admins-allow-player-creation"></label> 
          </div>
          <div>
            <input type="checkbox" class="playerOptions" value="allowCharacterCreation" id="allowCharacterCreation"/>
            <label for="allowCharacterCreation" l10n-id="admins-allow-character-creation"></label> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" l10n-id="admins-welcome-text"></h3>
      </div>
      <div class="panel-body">
        <textarea class="welcome-text-area"></textarea>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" l10n-id="admins-auto-export"></h3>
      </div>
      <div class="panel-body">
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
