<div class="role-grid-tab block">
  <div class="alert alert-info no-characters margin-bottom-8" l10n-id="advices-no-character"></div>
  <div class="alert alert-info no-character-profile margin-bottom-8" l10n-id="advices-empty-character-profile-structure"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default col-xs-3">
        <div class="panel-heading">
          <p l10n-id="role-grid-advice1"></p>
          <p l10n-id="role-grid-advice2"></p>
          <div class="button-container flex-column"></div>
        </div>
      </div>
      
      <div class="group-content col-xs-9"></div>
    </div>
  </div>
</div>