<div class="profile-editor-tab">
  <div class="panel panel-default">
    <div class="panel-heading entity-management">
      <div>
        <select class="character-profile-selector common-select"></select>
        <select class="player-profile-selector common-select"></select>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .player-profile-div">
        <h3 class="panel-title" l10n-id="profiles-player-profile"></h3>
      </a>
    </div>
    <div class="panel-body player-profile-div">
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .influence-table-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Таблица воздействий</h3>
      </a>
    </div>
    <div class="panel-body influence-table-panel">
      <div class="panel-body">
        <div class="entity-management">
          <div>
            <input class="create-entity-input time" placeholder="Время"></input>
            <select class="sender"></select>
<!--             <input class="create-entity-input sender" placeholder="Отправитель"></input> -->
            <input class="create-entity-input latitude" placeholder="Широта"></input>
            <input class="create-entity-input longitude" placeholder="Долгота"></input>
            <input class="create-entity-input power" placeholder="Сила" type="number" min="-7" max="7"></input>
            <button class="create-influence-button" l10n-id="common-create"></button>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped influence-table">
        <thead>
          <th l10n-id2="profiles-story">Время</th>
          <th l10n-id2="profiles-story">Отправитель</th>
          <th l10n-id2="profiles-activity" >Широта</th>
          <th l10n-id2="profiles-completness">Долгота</th>
          <th l10n-id2="profiles-meets">Сила</th>
          <th l10n-id2="profiles-inventory"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .influence-map-panel">
        <h3 class="panel-title" l10n-id2="profiles-player-profile">Карта</h3>
      </a>
    </div>
    <div class="panel-body influence-map-panel">
      <div id="profile-map" style="width: 600px; height: 400px;"></div>
<!--       <div id="map" style="width: 100vw; height: 90vh;"></div> -->
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="panel panel-default hidden">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .character-report-div">
        <h3 class="panel-title" l10n-id="profiles-character-report"></h3>
      </a>
    </div>
    <div class="panel-body character-report-div">
      <table class="table table-bordered table-striped">
        <thead>
          <th l10n-id="profiles-story"></th>
          <th l10n-id="profiles-activity" colspan="4"></th>
          <th l10n-id="profiles-completness"></th>
          <th l10n-id="profiles-meets"></th>
          <th l10n-id="profiles-inventory"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default hidden">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .character-profile-div">
        <h3 class="panel-title" l10n-id="profiles-character-profile"></h3>
      </a>
    </div>
    <div class="panel-body character-profile-div">
    </div>
  </div>
</div>