<div class="performance-tab">
  <div style="display:flex;justify-content: stretch;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".performance-tab div#benchmark-description"> <h3 class="panel-title" l10n-id="performance-information"></h3></a>
      </div>
      <div class="panel-body" id="benchmark-description">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#metainformation-table" l10n-id="performance-metainformation"></a></li>
          <li><a data-toggle="tab" href="#constants-table" l10n-id="performance-constants"></a></li>
          <li><a data-toggle="tab" href="#changed-params-table" l10n-id= "performance-changed-params"></a></li>
          <li><a data-toggle="tab" href="#measured-params-table" l10n-id= "performance-measured-params"></a></li>
        </ul>
        
        <div class="tab-content">
          <div id="metainformation-table" class="tab-pane fade in active">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th l10n-id="performance-name"></th>
                  <th l10n-id="performance-value"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div id="constants-table" class="tab-pane fade">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th l10n-id="performance-name"></th>
                  <th l10n-id="performance-units"></th>
                  <th l10n-id="performance-value"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div id="changed-params-table" class="tab-pane fade">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th l10n-id="performance-name"></th>
                  <th l10n-id="performance-units"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div id="measured-params-table" class="tab-pane fade">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th l10n-id="performance-name"></th>
                  <th l10n-id="performance-units"></th>
                  <th l10n-id="performance-type"></th>
                  <th l10n-id="performance-formula"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        
        <table class="table table-bordered table-striped table-condensed hidden">
          <thead>
            <tr>
              <th></th>
              <th l10n-id="performance-name"></th>
              <th l10n-id="performance-value"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid" >
    <div class="row">
      <div class="panel panel-default col-xs-8">
        <div class="panel-heading">
          <h3 class="panel-title" l10n-id="performance-graphic"></h3>
        </div>
        <div class="panel-body">
          <div id="chartContainer" style="height: 600px; width: 100%;">
          </div>
        </div>
      </div>
  
      <div class="panel panel-default col-xs-4">
        <div class="panel-heading">
          <a href="#" panel-toggler=".performance-tab div#benchmark-settings"> <h3 class="panel-title" l10n-id="performance-settings"></h3></a>
        </div>
        <div class="panel-body" id="benchmark-settings">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#data-selector-tab" l10n-id="performance-data"></a></li>
            <li><a data-toggle="tab" href="#chart-settings-tab" l10n-id="performance-chart"></a></li>
          </ul>
          
          <div class="tab-content">
            <div id="data-selector-tab" class="tab-pane fade in active">
              <input selector-filter="#chartDataSelector" class="form-control" l10n-placeholder-id="performance-selector-filter">
              <select multiple id="chartDataSelector" style="width: 100%;" class="form-control"></select>
            </div>
            <div id="chart-settings-tab" class="tab-pane fade">
              <div class="form-inline">
                <div class="form-group">
                  <input type="checkbox" id="showRawData" class="form-control" /><label
                    for="showRawData" l10n-id="performance-graphics-by-src"></label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="showAvgData" class="form-control" /><label
                    for="showAvgData" l10n-id="performance-graphics-by-avg"></label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="showMedianData" class="form-control" /><label
                    for="showMedianData"
                    l10n-id="performance-graphics-by-median"></label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="showXLogData" class="form-control"/> 
                  <label
                    for="showXLogData" l10n-id="performance-log-x"></label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="showYLogData" class="form-control"/> 
                  <label
                    for="showYLogData" l10n-id="performance-log-y"></label>
                </div>
              </div>
              <div class="form-inline">
                <div class="form-group">
                  <input type="checkbox" id="maxXEnabled" class="form-control" /><label
                    for="maxXEnabled" l10n-id="performance-max-x"></label>
                  <input id="maxX" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="checkbox" id="minXEnabled" class="form-control" /><label
                    for="minXEnabled" l10n-id="performance-min-x"></label>
                  <input id="minX" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="checkbox" id="maxYEnabled" class="form-control" /><label
                    for="maxYEnabled" l10n-id="performance-max-y"></label>
                  <input id="maxY" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="checkbox" id="minYEnabled" class="form-control" /><label
                    for="minYEnabled" l10n-id="performance-min-y"></label>
                  <input id="minY" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".performance-tab div.table-panel"> <h3 class="panel-title" l10n-id="performance-data-table"></h3></a>
    </div>
    <div class="panel-body table-panel" style="overflow: auto;">
      <button class="btn btn-default download-csv-button" l10n-id="performance-download-csv"></button>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>